<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="connectionWord"
      connectionString="Data Source=AA201-39\SQLEXPRESS;Initial Catalog=Lab3;Integrated Security=True;User ID=sa;Password=mcuite;MultipleActiveResultSets=true;"> </add>
  </connectionStrings>
   <system.web>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
      <sessionState cookieless="true" regenerateExpiredSessionId="true" timeout="30"></sessionState>
    </system.web>
    
</configuration>
